:root {
  --blue-bg-color: #1e90ff;
  --red-color: red;
}

* {
  box-sizing: border-box;
}

html {
  background: #4a4a4a;
  color: white;
  font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}

#install-dir-input {
  background: white;
  margin: 0;
  width: 100%;
  padding: 5px;
  cursor: text;
}

#install-dir-status {
  visibility: hidden;
  background: var(--blue-bg-color);
  margin: 10px 0;
  border-radius: 5px;
  padding: 10px;
}

#install-dir-status[data-install-status='valid'] {
  visibility: visible;
}

#install-dir-status[data-install-status='invalid'] {
  visibility: visible;
  background: var(--red-color);
}

